streamlit==1.37.0
crewai==0.28.0
chromadb==0.5.0
pydantic==1.10.13
langchain==0.2.14
langchain-core==0.2.35
langchain-community==0.2.12
openai==1.40.0
tiktoken==0.7.0
python-dotenv==1.0.1
pandas
scikit-learn